<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const TOKEN = "<%= token %>";
    </script>
</head>

<body>
    <table>
        <form id="resetPasswordForm" action="#" method="post">
            <tr>
                <td><label for="password">Password </label></td>
                <td><input type="password" name="password" id="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td><label for="confirmPassword">Confirm Password</label></td>
                <td><input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password">
                </td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </form>

    </table>
    <script src="resetpassword.js"></script>
</body>

</html>